{
    "check-coverage": true,
    "lines": 95,
    "statements": 95,
    "functions": 95,
    "branches": 95,
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "src/experiment/**/*.ts",
      "**/*.d.ts"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "cache": true,
    "report-dir": "./coverage",
    "all": true
}